/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.addModel {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .addModel:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.addModel-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.labelTitle {
  font-weight: bold;
}

.modelTitle {
  font-weight: bold;
}

#addSubmitBtn {
  background-color: #a2cc2e;
  border: none;
}