.right {
  text-align: right;
}

.Green {
  background-color: Green;
  color: white;
}

.Yellow {
  background-color: Yellow;
  color: black
}

.Red {
  background-color: Red;
  color: white;
}

.redRow {
  color: Red;
}

/* .blueRow {
  color: #46b2d6;
}

.greenRow {
  color: #a2cc2e;
} */