#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#location-describe {
  background: grey;
  color: white; 
  border: round;
  font-style: bold;
}

#map {
  text-align: initial;
}


.geocoder {
  position:inline;
  /* z-index:1;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:120px; */
}
.mapboxgl-ctrl-geocoder { min-width:100%; }

#track-user {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  width: 40px;
  height: 40px;
}