nav.navbar {
  position: fixed;
  width: 80vw;
  top: 15px;
}

a.navbar-signin {
  color: white;
}

.form-control {
  width: 80%;
}

.navbar-collapse {
  position: absolute;
  right: 20vw;
}

/* .searchbar {
  width: stretch;
} */

#searchInput {
  width: 100%;
}

.navbar-toggler {
  display: inline-block;
}

.geocoder {
  position:absolute;
  z-index:1;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:20px;
}
.mapboxgl-ctrl-geocoder { min-width:100%; }